@import "./../node_modules/bulma/sass/utilities/initial-variables";

$primary: #bb4321;
$text: #2d2d2d;

$body-size: 14px;
$navbar-background-color: $white;
$navbar-item-color: $primary;
$content-heading-color: $primary;
$menu-item-active-background-color: $primary;

$toc-item-active-color: $primary;
$toc-item-hover-color: $primary;

@import './../node_modules/bulma/bulma.sass';
@import './../node_modules/nacara/scss/nacara.scss';
