@import "../../node_modules/bulma/sass/utilities/initial-variables";

$purple: #7a325d;
$blue: #0055a4;
$fable-blue: #2294fc;
$primary: $blue;
$black: #202020;
$fable-blue: dodgerblue;
$family-sans-serif: "Open Sans", sans-serif;
$navbar-breakpoint: 500px;

@import "../../node_modules/bulma/bulma";
// @import "../../node_modules/bulma-carousel/dist/bulma-carousel.css"

// Needed otherwise iframes show a disabled scrollbar
html,
body {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  font-size: 1.1em;
  font-weight: 200;
  background: whitesmoke;
}

footer {
  margin-top: 40px;
  background-color: $black;
  color: white;
  padding: 20px 10px;
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: white;
    text-decoration: underline;
  }
}

.container {
  padding: 5px;
}

.navbar {
  font-size: 1.2em;
  background-color: $fable-blue;
  .navbar-menu {
    // Needed to overwrite Bulma rules
    background-color: $fable-blue;
  }
  .title {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    margin-bottom: 0;
  }
  .navbar-burger span {
    background-color: white;
  }
  .navbar-burger:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .navbar-start {
    font-weight: 400;
    font-size: 1rem;
    .navbar-item {
      color: white;
    }
    .navbar-item.is-active {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .navbar-item:hover {
      color: dodgerblue;
    }
  }
}

pre {
  background-color: white;
  code {
    font-family: "Fira Code";
    font-size: 0.8rem;
  }
}

.section.features pre {
  background-color: whitesmoke;
}

.twitter {
  color: #55acee !important; // Override bulma
  border-color: #55acee;
}

.github {
  color: $black !important; // Override bulma
  border-color: $black;
}

.fable-home-card {
  background-color: lighten($fable-blue, 40%);
  margin-bottom: 10px;
  // min-height: 300px;
}

.flex-horizontal {
  display: flex;
  align-items: center;
}

// prism.js helpers
span.token.number {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  background-color: inherit;
//   padding-bottom: 6px;
}

span.token.tag {
    background-color: white;
  }
// ------------------------

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; //flex-start;
  //align-content: center;
}

.fable-header {
  //   background: linear-gradient(to left, lighten($fable-blue, 20%), white);
  //   padding: 2rem 0;
  //   .fable-logo {
  //     max-height: 150px;
  //     @media screen and (max-width: 600px) {
  //       max-height: 120px;
  //       width: 20%;
  //     }
  //     @media screen and (max-width: 400px) {
  //       max-height: 80px;
  //       width: 20%;
  //     }
  //   }
  .fable-header-buttons {
    align-items: center;
    @media screen and (min-width: $desktop) {
      margin-left: 2em;
      align-items: flex-start;
    }
  }
  // h1
  //   color: darken(gold, 10%) //invert($fable-blue);
  //   font-weight: normal;
}

.fable-catchphrase {
  @extend .has-text-centered;
  font-size: 1.3em;
  margin: 10px 5px;
  p {
    max-width: $tablet;
    margin: 0 auto;
  }
}

.fableconf-promo {
    @extend .has-text-centered;
    font-size: 1.2em;
    margin: 20px 0;
    padding: 20px 5px;
    background-color: dodgerblue;
    p {
      color: white;
      max-width: $tablet;
      margin: 0 auto;
    }
    a {
        color: white;
    }
  }
  

.fable-samples {
  margin: 0 5px;
  & > h1 {
    margin-top: 25px;
  }
  .media-content h1 {
    margin-bottom: 5px;
  }
}

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    & > a {
      color: $black;
    }
  }
}

.fable-friends img {
  max-width: 100px;
}

.markdown .content img {
  display: block;
  margin: auto;
}

.faq h4 {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  // font-weight: 800;
  // font-size: 1.2em;
  font-variant: small-caps;
  text-decoration: underline;
  margin-top: 30px;
}

/* blog related */
p > code,
li > code {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
  color: dodgerblue;
}

/* blog related */
h3 > a.anchor,
h2 > a.anchor {
  color: dodgerblue;
}

.blog {
  p > a {
    text-decoration: underline;
  }
}

.blog-index {
  .card {
    .media {
      margin-bottom: -2rem;
    }
  }

  // From https://bulmatemplates.github.io/bulma-templates/templates/blog.html
  .articles {
    margin: 5rem 0;
    margin-top: 0;
  }
  .articles .content p {
    line-height: 1.9;
    margin: 15px 0;
  }
  .author-image {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    border: 3px solid #ccc;
    border-radius: 50%;
  }
  .media-center {
    display: block;
    margin-bottom: 1rem;
  }
  .media-content {
    margin-top: 3rem;
  }
  .article,
  .promo-block {
    margin-top: 6rem;
  }
  div.column.is-8:first-child {
    padding-top: 0;
    margin-top: 0;
  }
  .article-title {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 2;
  }
  .article-subtitle {
    color: #909aa0;
    margin-bottom: 3rem;
  }
  .article-body {
    line-height: 1.4;
    margin: 0 3rem;
  }
  .promo-block .container {
    margin: 1rem 5rem;
  }
}
