
/////////////////////////////////
/// nacara-layout-standard customizations
/// Do not touch unless you know what you are doing
/////////////////////////////////
$navbar-breakpoint: 0px;
$navbar-padding-vertical: 0.5rem;
$navbar-padding-horizontal: 1rem;
/////////////////////////////////

// Specific to gatsby-remark-vscode usage
$content-pre-padding: unset;

/////////////////////////////////
/// Customize Bulma
/////////////////////////////////

$navbar-item-color: $white;
$navbar-background-color: $primary;
$navbar-item-active-color: $white;
$navbar-item-active-background-color: lighten($primary, 8%);
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: lighten($primary, 8%);
$navbar-dropdown-item-active-background-color: lighten($primary, 8%);
$navbar-dropdown-item-hover-background-color: lighten($primary, 8%);
$navbar-dropdown-item-hover-color: $white;
$navbar-dropdown-item-active-color: $white;

$menu-item-active-background-color: $primary;
$menu-item-active-color: $white;
$menu-item-hover-color: $primary;
$menu-item-hover-background-color: transparent;
$menu-label-font-size: $size-6;
$menu-item-radius: $radius-large $radius-large;

$footer-background-color: $primary;
$footer-color: $white;

$link: darken($primary, 4%);
$code: $red;

$body-size: 14px;